Ejemplos_xsd/xsd_grupos/Pelicula.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="pelicula">
        <complexType>
            <all>
                <element name="titulo" type="string"/>
                <element name="minutos" type="integer"/>
            </all>
        </complexType>
    </element>
</schema>